*{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.slide {
    width: 100px;
    height: 80px;
    border: 2px solid red;
    transition: all 1s ease;
}

.slide1 {
    transform: matrix(2,0,0,2,200,200);
}

/* .slide1:hover {
    transform: matrix(2, 0, 0, 2, 200 , 200);
    border: 5px solid green;   
} */


/*
matrix(a, c, b, d, x, y);

Значение a изменяет масштаб по горизонтали. Значение от 0 до 1 уменьшает элемент, больше 1 — увеличивает.
Значение c деформирует (сдвигает) стороны элемента по оси Y, положительное значение — вверх, отрицательное — вниз.
Значение b деформирует (сдвигает) стороны элемента по оси X, положительное значение — влево, отрицательное — вправо.
Значение d изменяет масштаб по вертикали. Значение меньше 1 уменьшает элемент, больше 1 — увеличивает.
Значение x смещает элемент по оси X, положительное — вправо, отрицательное — влево.
Значение y смещает элемент по оси Y, положительное значение — вниз, отрицательное — вверх.

scale(x,y)
 */

.slide_img {
    width: 100%;
    height: 100%;
}



